.home-page {

    min-height:100vh;
    background:
    linear-gradient(135deg,#7588c6,#8abed0);

    padding:50px;

    font-family:"Segoe UI",sans-serif;

    color:white;

}



/* HERO */

.hero {

    text-align:center;

    max-width:1200px;

    margin:auto;

}



.brand {

    display:flex;

    justify-content:center;

    align-items:center;

    gap:15px;

}


.logo {

    width:70px;

}


.brand h1 {

    font-size:42px;

    font-weight:800;

}



.hero h2 {

    margin-top:40px;

    font-size:52px;

    letter-spacing:-1px;

}



.hero p {

    max-width:600px;

    margin:20px auto;

    color:#f1f3f5;

    font-size:18px;

    line-height:1.6;

}



/* CENTER CAR */

.car-container {

    margin:45px auto;

    width:650px;

    height:330px;

    max-width:90%;


    display:flex;

    justify-content:center;

    align-items:center;


    background:

    radial-gradient(
    circle,
    rgba(56,189,248,.25),
    transparent 65%
    );

}



.car-image {

    width:100%;

    max-width:550px;

    filter:drop-shadow(
    0 25px 20px rgba(0,0,0,.5)
    );

}



/* BUTTONS */


.hero-buttons {

    display:flex;

    justify-content:center;

    gap:20px;

}



.primary-btn,
.secondary-btn {

    padding:15px 35px;

    border-radius:12px;

    text-decoration:none;

    font-weight:600;

}



.primary-btn {

    background:#38bdf8;

    color:#082f49;

}



.secondary-btn {

    border:1px solid #38bdf8;

    color:#38bdf8;

}



/* FEATURES */


.features {

    margin:60px auto;

    max-width:1200px;

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:25px;

}



.feature-card {

    background:#1a253d;

    padding:30px;

    border-radius:20px;

    border:1px solid #1e293b;

    transition:.3s;

}



.feature-card:hover {

    transform:translateY(-8px);

    border-color:#38bdf8;

}



.feature-card h3 {

    font-size:22px;

}



.feature-card p {

    color:#dedfe1;

}



.feature-card a {

    color:#38bdf8;

    text-decoration:none;

}



/* MOBILE */


@media(max-width:900px){

.features{

    grid-template-columns:1fr 1fr;

}


.hero h2{

    font-size:38px;

}

}



@media(max-width:600px){

.features{

    grid-template-columns:1fr;

}

}